.likelist_box {
    margin-top: 30px;
    border: 3px solid #ccc;
    text-align: center;
    border-radius: 10px;
}

.likelist_box li {
    list-style-type: none;
}

.userimg_box {
    margin-top: 30px;
}