.postnum {
    font-size: 25px;
    margin-bottom: 10px;
}

.goback-btn {
    cursor: pointer;
}
.post-title {
    margin-top: 15px;
}
.post-content {
    border: 2px solid lightgray;
    border-radius: 10px;
    height: 300px;
}

.comment-btn {
    border: none;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: 0.25s;
}